{% if request.user.is_authenticated %}
<p> {{ request.user }} </p>
<a href="{% url 'logout' %}">LOGOUT</a>
{% else %}
<a href="{% url 'login' %}">LOGIN</a>
{% endif %}



<h1>TO DO LIST VIEW</h1>
<h2><a href="{% url 'create-task' %}">CREATE TASK</a></h2>

<form action="" method="GET">
    <input type="text" name="search-area" placeholder="Search here..." value="{{ search_input }}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}" >View</a></td>
        <td><a href="{% url 'task-update' task.id %}" >Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
        <td><h3>No items in list</h3></td>
    </tr>

    {% endfor %}
</table>
